<div class="sidebar bg-gray-800 text-white h-full w-[16rem] flex flex-grow flex-col">
    <div class="p-4 text-lg font-bold">Admin Panel</div>
    <ul class="">
        <li class="w-full">
            <button class="p-2 hover:bg-gray-700 cursor-pointer w-full text-left font-bold" onclick="loadUsers()">
                Manage Users
            </button>
        </li>
        <li class="w-full">
            <button class="p-2 hover:bg-gray-700 cursor-pointer w-full text-left font-bold" onclick="loadLists()">
                Manage Lists
            </button>
        </li>
        <li class="w-full">
            <button class="p-2 hover:bg-gray-700 cursor-pointer w-full text-left font-bold" onclick="loadComments()">
                Manage Comments
            </button>
        </li>
        <li class="w-full">
            <button class="p-2 hover:bg-gray-700 cursor-pointer w-full text-left font-bold" onclick="loadCards()">
                Manage Cards
            </button>
        </li>
        <li class="w-full">
            <button class="p-2 hover:bg-gray-700 cursor-pointer w-full text-left font-bold" onclick="loadBoards()">
                Manage Boards
            </button>
        </li>
    </ul>
</div>