<footer class="bottom-0 flex justify-center border border-gray-300 p-3 w-full aligns-center">
    <span>This is Footer</span>
</footer>

<!-- Include Login Modal -->
@await Html.PartialAsync("_LoginModal")

<script src="~/js/header.js" asp-append-version="true"></script>