<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/tailwind.css">
</head>

<body>
    <div class="flex flex-col min-h-screen">
        <header class="top-0 flex justify-center border border-gray-300 p-3 mb-3 w-full aligns-center">
            <span>This is Header</span>
        </header>

        <div class="flex-grow flex justify-center w-full aligns-center ">
            <main role="main" class="px-12 w-full">
                @RenderBody()
            </main>
        </div>
        <footer class="bottom-0 flex justify-center border border-gray-300 p-3 w-full aligns-center">
            <span>This is Footer</span>
        </footer>
    </div>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
