<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/tailwind.css">
    <link rel="stylesheet" href="~/fontawesome/css/all.min.css">
</head>

<body>
    <div class="flex flex-col min-h-screen">
        @if (Context.Session.GetString("Email") != null && Context.Request.Path.StartsWithSegments("/User")
                || Context.Request.Path.StartsWithSegments("/Board"))
        {
            <!-- Show _UserHeader for logged-in users on User pages -->
            @await Html.PartialAsync("_UserHeader")
        }
        else
        {
            <!-- Show normal _Header for other pages -->
            @await Html.PartialAsync("_Header")
        }

        <div class="flex-grow flex justify-center w-full aligns-center">
            <main role="main" class="w-full">
                @RenderBody()
            </main>
        </div>

        @if (Context.Session.GetString("Email") == null && !Context.Request.Path.StartsWithSegments("/User")
                && !Context.Request.Path.StartsWithSegments("/Board"))
        {
            <!-- Show _Footer only for non-User pages -->
            @await Html.PartialAsync("_Footer")
        }
        @if (Context.Session.GetString("Email") != null && !Context.Request.Path.StartsWithSegments("/User")
                && !Context.Request.Path.StartsWithSegments("/Board"))
        {
            <!-- Show _Footer only for non-User pages -->
            @await Html.PartialAsync("_Footer")
        }
    </div>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>