@{
    ViewData["Title"] = "Home Page";
}
<div class="mt-15 w-full h-15 bg-[#DEEBFF] flex justify-center items-center text-[#091E42] gap-2 font-medium">
    <span class="">
        Accelerate your teams' work with Taskie now available for all Premium and Enterprise!
    </span>
    <span class="text-[#0052CC] hover:text-blue-500 underline cursor-pointer">
        Learn more.
    </span>
</div>
<section class="bg-white lg:grid lg:h-screen lg:place-content-center">
    <div class="mx-auto w-screen max-w-screen-xl px-4 py-12 sm:px-6 sm:py-24 lg:px-8 lg:py-32">
        <div class="mx-auto max-w-[52rem] text-center">
            <h1 class="text-4xl font-bold text-gray-900 sm:text-5xl">
                Capture, organize, and tackle your
                <strong class="text-blue-600"> to-dos </strong>
                from anywhere.
            </h1>

            <p class="mt-4 text-base text-pretty text-gray-700 sm:text-lg/relaxed">
                Stay organized and efficient with Inbox, Boards, and Card. Every to-do, idea,
                or responsibility—no matter how small—finds its place, keeping you at the top of your game.
            </p>

            <div class="mt-4 flex justify-center gap-4 sm:mt-6">
                <a class="inline-block rounded bg-blue-500 px-5 py-3 font-medium text-white shadow-md transition-colors hover:bg-blue-700"
                    href="/">
                    Get Started
                </a>

                <a class="inline-block rounded px-5 py-3 font-medium text-gray-700 shadow-md transition-colors hover:bg-gray-50 hover:text-gray-900"
                    href="/">
                    Learn More
                </a>
            </div>
        </div>
    </div>
</section>